/*-----------------Color Palette------------------------------------
 * green= #296531
   orange=#f69d1e
   darkpink=#c98474
   gray=#bfb4b2

/*---------------------CSS Reset--------------------------------*/
html, body, div,h1,h2,h3,p,ul,li,img {
	margin: 0;
	padding: 0;
}

/*---------------------Basic Styling Elements---------------------------*/
body{
	margin:0 auto;
	padding:0;
	max-width:825px;
	background-image:url(../images/pgCutback.jpg);
	background-repeat:no-repeat;
	background-position: 790px 2px;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%/*16px*/;

}
/*-----------------Top Header------------------------------------*/
header h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size:2.500em/*40px*/;
	color:#296531;
	padding-top:25px;
	float:left;
	text-align:left;
	text-shadow: 2px 2px 2px #111;
}
/*-----------------Main CTA----------------------------------------*/
section h2 {
	font-family: 'Lemon', cursive;
	color:#296531;
	float:right;
	padding: 25px 0px;
	margin-right: 27.060271%/*220px*/;
}

section{
	width:98.545455%/*813px*/;
	height:359px;
	background-color:#BFB4B2;
	padding:0;
	border: 6px solid #296531;
}

section p {
	float:right;
	width:67.650677%/*550px*/;
	text-align:left;
}

section img{
	padding:0;
	margin:0 auto;
	float:left;
	width:30.381304%/*247px*/;
	max-width:100%;
}

/*--------------------Facts Section--------------------------------*/
#facts {
	background-color:#296531;
	width:98.545455%/*813px*/;
	padding:0;
	margin: 0 auto;
	float:left;
	border: 6px solid #F69D1E;
	overflow:hidden;
}

#facts ul {
	list-style-type:none;
	margin-left:3.0750308%/*25px*/;
}
#facts h2{
	font-family: 'Luckiest Guy', cursive;
	text-align:center;
	background-color:#F69D1E;
	width:52.275523%/*425px*/;
	color:#296531;
	font-size:1.1875em/*19px*/;
	margin:0 auto;
	padding:0;

}
#facts li strong {
	font-family: 'Luckiest Guy', cursive;
	font-size:1.1875em/*19px*/;
	color:#F69D1E;
	
}

#facts img {
	float:right;
	opacity:0.4;
	width:31.488315%/*256px*/;
	max-width:100%;
}

#moreInfo {
	background-color:#296531;
	width:98.545455%/*813px*/;
	padding:0;
	margin: 0 auto;
	border: 6px solid #F69D1E;
}

#moreInfo h2{
	font-family: 'Luckiest Guy', cursive;
	text-align:center;
	background-color:#F69D1E;
	width:36.900369%/*300px*/;
	color:#296531;
	font-size:1.1875em/*19px*/;
	margin:0;
	padding:0;
}
#moreInfo p {
	-moz-column-count: 3;
	-webkit-column-count:3;
	margin:25px 1.8450185%/*15px*/;
	font-size:100%/*16px*/;
	color:#F69D1E;
	
}

#moreInfo a{
	margin-left:71.340713%/*580px*/;
	margin-bottom: 10px;
}
/*-------------------Quotes Section-----------------------------*/
#quotes{
background-color:#296531;
width:98.545455%/*813px*/;
padding:0;
margin: 0 auto;
border: 6px solid #F69D1E;
}

#quotes h2{
	font-family: 'Luckiest Guy', cursive;
	text-align:center;
	background-color:#F69D1E;
	width:36.900369%/*300px*/;
	color:#296531;
	font-size:1.1875em/*19px*/;
	margin:0;
	padding:0;
}

#quotes ol {
	font-family: 'Luckiest Guy', cursive;
	font-size:1.1875em/*19px*/;
	color:#F69D1E;
	margin-top:25px;
}

#quotes li{
	margin:25px 0px;
}
/*------------------------Gallery Styling------------------------*/

#gallery {
	border: 1px #296531;
	list-style-type:none;
	margin-left: 6.1500615%/*50px*/;
	overflow:hidden;
	padding:5px;

}


#gallery li{
	float:left;
	clear:right;
	margin-left: .61500615%/*5px*/;
}

#gallery a{
	border:3px solid #296531;
	display:block;
	outline:0;

}
#gallery img{
	width:100px;
}

#gallery a:visited{
	border-color:#296531;
}

#gallery a:hover{
	border-color:#F69D1E;
	display:inline;
}

#gallery a:active{
	border-color:#111111;
}

#galleryContainer p{
	font-size: 0.750em /*12px*/;
	color:#F69D1E;
	text-align:center;
}


#galleryContainer
{
	clear:both;
}

#galleryContainer h2{
	font-family: 'Luckiest Guy', cursive;
	text-align:center;
	background-color:#F69D1E;
	width:36.900369%/*300px*/;
	color:#296531;
	font-size:1.1875em/*19px*/;
	margin:0;
	padding:0;
}

#galleryContainer{
	background-color:#296531;
	width:98.545455%/*813px*/;
	padding:0;
	margin: 0 auto;
	border: 6px solid #F69D1E;
}


/*-----------------------Gradient Button-----------------------*/
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: .875em/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.green {
	color: #e8f0de;
	border: solid 1px #f69d1e;
	background: #296531;
	background: -webkit-gradient(linear, left top, left bottom, from(#f69d1e), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#f69d1e), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#f69d1e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}


/*-------------------------Nav Elements---------------------------*/
nav ul {
	width:100%/*825px*/;
	margin:0 auto;
	background: #296531;
	list-style-type:none;
	padding:0;
	overflow: hidden;
	clear:both;
}
nav li {
	width:15.625%/*125px*/;
	float:left;
	clear:right;
}

nav a{
	font-family: 'Luckiest Guy', cursive;
	font-size:1.125em/*18px*/;
	text-decoration:none;
	display:block;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#f69d1e;
}

nav a:hover{
	color: #c98474;
	background: #bfb4b2;
}
/*-------------------------benefitsTable---------*/
#tableBenefits th{
	font-size:1.125em/*18px*/;
	color:#F69D1E;
}
#tableBenefits td {
	color:#F69D1E;
}

#tableBenefits{
	float:right;
	margin-right:50px;
}
#tableBenefits{
	border: 6px solid #F69D1E;
}
/*-------------------------contactform------*/
#contact h2{
	font-family: 'Luckiest Guy', cursive;
	text-align:center;
	background-color:#F69D1E;
	width:36.900369%/*300px*/;
	color:#296531;
	font-size:1.1875em/*19px*/;
	margin:0;
	padding:0;
}
#contact {
	background-color:#296531;
	width:98.545455%/*813px*/;
	padding:0;
	border: 6px solid #F69D1E;
	overflow:hidden;
}

#contact label{
	display:block;
	font-size:100%/*16px*/;
	
}


#contact div{
	font-size:100%/*16px*/;
	color:#F69D1E;
	text-align: left;

}
#contact .buttons{
	width:30%;
}
#contact form{
	margin-left:100px;
}

/*--------------------------Footer----------------------*/
footer{
	width:100%/*825px*/;
	font-size:100%/*16px*/;
	color:#296531;
	text-align: center;
	background-color: #F69D1E;
}

/* Media Queries
 ==============================================*/
@media screen and (min-width:768px) and (max-width: 1036px) {
header h1 {
	color:red;
}
body{
	background-image: none;
}

}







/*-----------------------------------------------------------------------------------------*/
@media screen and (min-width:480px) and (max-width: 767px) {

header h1{
	color:blue;
}

}

/*-----------------------------------------------------------------------------------------*/
@media screen and (max-width: 479px) {

header h1{
	color:black;
}
/*-------gallery ----------------------------*/
#gallery {
	border: 0px #296531;
	list-style-type:none;
	overflow:hidden;
	padding:0;
	margin:0;
}
#gallery li{
	float:left;
	margin:0 auto;
}
/*-----Quotes----------------------------------*/
#quotes ol {
	font-family: 'Luckiest Guy', cursive;
	font-size:.875em/*14px*/;
	color:#F69D1E;
	margin-top:25px;
}

/*---------Bio----------------------------------*/
#moreInfo p {
	-moz-column-count: 1;
	-webkit-column-count:1;
	margin:0px 1.8450185%/*12px*/;
	font-size:.750em/*12px*/;
	color:#F69D1E;
	clear:both;	
}
#moreInfo h2{
display:none;
}

/*--------MainCTA---------------------------*/
section h2 {
	font-family: 'Lemon', cursive;
	color:#296531;
	padding:0px;
	margin:0px;
}
/*-----------------Top Header------------------------------------*/
header h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size:1.500em/*40px*/;
	color:#296531;
	padding-top:25px;
	float:left;
	text-align:center;
	text-shadow: 2px 2px 2px #111;
}
/*-------------------------Nav Elements---------------------------*/
nav ul {
	width:100%/*825px*/;
	margin:0 auto;
	background: #296531;
	list-style-type:none;
	padding:0;
	overflow: hidden;
	clear:both;
}
nav li {
	width:15.625%/*125px*/;
	float:left;
	clear:right;
}

nav a{
	font-family: 'Luckiest Guy', cursive;
	font-size:1.125em/*18px*/;
	text-decoration:none;
	display:block;
	height:30px;
	line-height:30px;
	text-align:left;
	color:#f69d1e;
}


}






